.footer {
    grid-area: footer;
    background: $bg-footer;
    font-size: 0.9em;

    .footer__info {
        color: $text-color-second;
        font-weight: 300;
        text-align: center;
        padding-top: 0.4em;
        padding-bottom: 1em;
    }

    .footer__nav {
        color: $text-color-second;
        font-weight: 300;
        text-align: center;
        padding-bottom: 0.5em;
    }
}