@import "./variables.scss";
@import "./header.scss";
@import "./main.scss";
@import "./before-footer.scss";
@import "./footer.scss";

body {
    margin: 0;
    padding: 0;
}

.countainer {
    border-left: lighten($color: $bg-header, $amount: 60) solid 1px;
    border-right: lighten($color: $bg-header, $amount: 60) solid 1px;
    background: $bg-main;
    font-size: 16px;
    font-family: "Roboto";
    max-width: 87rem;
    min-width: 18rem;
    margin: 0 auto;
    display: grid;

    grid: {
        template-columns: 1fr;
        // template-rows: 70px 1fr 255px 30px;
        template-rows: 4.3em 1fr auto auto;
        template-areas: "header""main""before-footer""footer";
    }

    @media (min-width: 40rem) {
        grid-template-rows: 85px 1fr auto auto;
        // grid-template-rows: 70px 1fr 255px auto;
    }

    a,
    a:visited {
        color: $text-link-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}





